@{
    ViewBag.Title = "Liên hệ";
}

<div class="banner-area banner-area--contact all-text-white text-center lazy" data-src="images/contact/banner.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">Liên hệ</h1>
                <ul class="fund-breadcumb">
                    <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                    <li><a href="@Url.Action("Contact", "Home")">Liên hệ</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="body-overlay"></div>

<section class="section-padding">
    <div class="col-md-12">
        <div class="section-heading text-center">
            <h2 class="section-title">Get in <span class="base-color">touch</span></h2><span class="section-sub-title">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore
            </span>
            <div class="section-heading-separator"></div>
        </div>
    </div>
    <div class="container no-padding">
        <div class="main-contact">
            <form class="contact-form">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="text" placeholder="Name"
                                   class="input-group__input form-control" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="text" placeholder="Name"
                                   class="input-group__input form-control" />
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <input type="text" placeholder="Subject"
                           class="input-group__input form-control" />
                </div>
                <div class="input-group">
                    <textarea class="input-group__textarea form-control" placeholder="Message"
                              rows="8" cols="80"></textarea>
                </div><input type="submit" class="btn base-bg"
                             value="Submit"><span class="text-mute pdl15">* All fields are mandatory</span>
            </form>
            <div class="contact-address">
                <div class="contact-address-item">
                    <span class="icon-wrap">
                        <i class="fa fa-map-marker contact-icon"></i>
                    </span>
                    <div class="text-content">
                        <div class="base-color contact-title">Office Location</div> 2050 Bamako Place Washington, DC
                        20521-2050
                    </div>
                </div>
                <!--/.contact-address-item-->
                <div class="contact-address-item">
                    <span class="icon-wrap">
                        <i class="fa fa-phone contact-icon"></i>
                    </span>
                    <div class="text-content">
                        <div class="base-color contact-title">Contact Number</div> +1 2689254 - +1 2685987
                    </div>
                </div>
                <!--/.contact-address-item-->
                <div class="contact-address-item">
                    <span class="icon-wrap">
                        <i class="fa fa-envelope contact-icon"></i>
                    </span>
                    <div class="text-content">
                        <div class="base-color contact-title">Contact Mail</div> support@thefund.com<br />
                        help@thefund.com
                    </div>
                </div>
                <!--/.contact-address-item-->
                <div class="contact-address-item">
                    <span class="icon-wrap">
                        <i class="fa fa-map-marker contact-icon"></i>
                    </span>
                    <div class="text-content">
                        <div class="base-color contact-title">Website</div> www.thefund.com<br />
                        www.Support.thefund.com
                    </div>
                </div>
                <!--/.contact-address-item-->
            </div>
        </div>
    </div>
</section>