@{
    ViewBag.Title = "Đăng nhập";
}

<section class="section-padding">
    <div class="col-md-12">
        <div class="section-heading text-center" style="padding-top: 50px">
            <h2 class="section-title">ĐĂNG NHẬP</h2><span class="section-sub-title">
            </span>
            <div class="section-heading-separator"></div>
        </div>
    </div>
    <div class="container no-padding">
        <div class="main-contact" style="display: flex; justify-content: center; text-align: center">
            <form class="login col-sm-4" action="Login">
                <div class="row">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" placeholder="Tài khoản"
                                   class="input-group__input form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="password" placeholder="Mật khẩu"
                                   class="input-group__input form-control" />
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn base-bg" value="Đăng nhập">
                <a href="@Url.Action("Register", "Home")" class="text-mute pdl15" style="display: block; padding-top: 30px">Chưa có tài khoản? Đăng ký ngay</a>
            </form>
        </div>
    </div>
</section>


